extends ../layouts/default
block main
    h3= title

block content
    .col-md-10.portfolio-item
        .row.pad-vert-mini
        .row
            each transaction , i in transactions
                .col-sm-6.col-md-4
                    .thumbnail
                        .caption
                            p.description
                                strong Category: #{transaction.giftcard.name}
                            p.description
                                strong User Buy: #{transaction.user.name}

                            p.description
                                strong User sell:

                            p.description
                                strong Price: #{transaction.order.price}

                            p.description
                                | Description:
                                strong #{transaction.description}

