extends ../layouts/default

block main
    h1= title

block content
    - if ( sellOrders.length )
        h3 List order
            div
                table.table.table-striped
                    thead
                        th STT
                        th Custommer
                        th Price order
                        th Time
                        th Action
                    tbody
                        -each item, i in sellOrders
                            tr
                                td= i
                                td= item.user.name
                                td= item.price
                                td= item.createdAt
                                td
                                    form(action='/transactions/order', method="post")
                                        input(type="hidden", name="_csrf", value="#{csrf_token}")
                                        input(type="hidden", name="orderId", value="#{item._id}")
                                        - if (item.bought == 0 && item.giftcard.status == 2)
                                            button.btn.btn-info(type="submit") Sell
                                        - else
                                            span.btn-success Sold
    - else
        h3 No order