extends ../layouts/default

block main
    h3= title

block content
    - if (categories.length)
        a.btn.btn-success(href="/admin/categories/new") Create new category
        table.table.table-hover
            thead
                tr
                    th #
                    th Name
                    th Parent
                    th Description
                    th Action
            tbody
            - each category, i in categories
                - if (null == category.parent)
                    tr
                        th(scope='row')
                            p=i
                        th
                            a(href='/admin/categories/#{category._id}') #{category.name}
                        th
                            p null
                        th
                            p=category.description
                        th
                            form(action="/admin/categories/" + category._id, method="post", onsubmit="return confirm('Are you sure?')")
                                input(type='hidden', name='_csrf', value="#{csrf_token}")
                                a.btn.btn-default(href='/admin/categories/' + category._id + '/edit', title="edit") Edit
                                | &nbsp;
                                input(type="hidden", name="_method", value="DELETE")
                                button.btn.btn-danger(type="submit") Delete
                - else
                    tr
                        th(scope='row')
                            p=i
                        th
                            a(href='/admin/categories/#{category._id}') --- #{category.name}
                        - console.log(categories[categories.indexOf(category.parent)])
                        - console.log(categories.findIndex(index => index._id == category.parent))
                        th
                            - each item in categories
                                - if (item._id + "" == category.parent + "")
                                    p=item.name
                        th
                            p=category.description
                        th
                            form(action="/admin/categories/" + category._id, method="post", onsubmit="return confirm('Are you sure?')")
                                input(type='hidden', name='_csrf', value="#{csrf_token}")
                                a.btn.btn-default(href='/admin/categories/' + category._id + '/edit', title="edit") Edit
                                | &nbsp;
                                input(type="hidden", name="_method", value="DELETE")
                                button.btn.btn-danger(type="submit") Delete

    - else
        h4.muted No Category.&nbsp;
            a(href="/admin/categories/new") Create one