extends ../layouts/default

block main
    h1= title

block content
    - if (giftcards.length)
        - console.log(giftcards)
        - each item in giftcards
            h3
                a(href="/giftcards/#{item._id}")  #{item.name}
            h5= item.description
            - if (item.user)
                span Poster: &nbsp;
                - var name = item.user.name ? item.user.name : item.user.username
                a(href="#")= name
                //a(href="/users/" + item.user._id)= name
            h4
                //a.btn.btn-success(href='/add-to-cart/'+item._id) Add to Shopping Cart
                a.btn.btn-primary.my-cart-btn(href='/add-to-cart/#{item._id}') Add to Cart
    - else
        - if(req.isAuthenticated())
            h4.muted No Giftcard.&nbsp;
                a(href="/giftcards/new") Create one