extends ../layouts/default

block main
    h3= title

block content
    - if (req.isAuthenticated())
        h3
            a.btn.btn-success(href="/giftcards/new") Create new gift card

    - if (giftcards.length)
        - each item in giftcards
            h3
                a(href="/giftcards/#{item._id}")  #{item.name}
                h5= item.description
                form(action='/giftcards/sell', method="post")
                    input(type="hidden", name="_csrf", value="#{csrf_token}")
                    input(type="hidden", name="giftId", value="#{item._id}")
                    - if (item.status == 2)
                        h5 Status: Sold
                    - else if (item.status == 1)
                        button.btn.btn-danger(type="submit", onclick='') Cancel
                    - else
                        button.btn.btn-info(type="submit") Sell
    - else
        - if(req.isAuthenticated())
            h4.muted No GiftCard.&nbsp;
                a(href="/giftcards/new") Create one