extends ../layouts/default

block main
    h1= title

block content
    h3= giftcard.name
    p Description: #{giftcard.description}
    //p Min price:  #{giftcard.minPrice}
    p Price #{giftcard.maxPrice}
    p Expires date: #{giftcard.expiresAt}
    -if (giftcard.status == 0)
        p Tinh trang: Chua public
    - else if (giftcard.status == 1)
        p Tinh trang: Da public
    - else
        p Tinh trang: Da ban
    - if (giftcard.authGift == 0)
        p Gift card chua xac thuc
    - else
        p Gift card da xac thuc

    - if (req.isAuthenticated())
        - if ((req.user._id+"" != giftcard.user._id+""))
            - if ((giftcard.status == 1) && (giftcard.authGift == 1))
                form(action="/giftcards/confirm-buy", method="post")
                    // onsubmit="return confirm('Do you want to buy this gift card?')"
                    input(type='hidden', name='_csrf', value='#{ csrf_token }')
                    input(type='hidden', name='giftId', value="#{ giftcard._id }")
                    input(type='text', name='price', value="", placeholder='Enter price you want buy!' )
                    button.btn.btn-info(type="submit") ORDER
        - else
            form(action="/giftcards/" + giftcard._id, method="post", onsubmit="return confirm('Are you sure?')")
                input(type='hidden', name='_csrf', value="#{ csrf_token }")
                a.btn.btn-default(href='/giftcards/' + giftcard._id + '/edit', title="edit") Edit
                input(type="hidden", name="_method", value="DELETE")
                button.btn.btn-danger(type="submit") Delete
            - if ( giftcardOrders.length )
                h3 List order
                    div
                        table.table.table-striped
                            thead
                                th STT
                                th Custommer
                                th Price order
                                th Time
                                th Action
                            tbody
                                -each item, i in giftcardOrders
                                    tr
                                        td= i
                                        td= item.user.name
                                        td= item.price
                                        td= item.createdAt
                                        td
                                            button.btn.btn-info(type="button") Sell
            - else
                h3 No order
    - else
        h4
            a(href="/login") Login and Buy now
